
.container {
  margin: auto;
  width: 50%;
}
.ReactTags__tags {
  position: relative;
}

/* Styles for the input */
.ReactTags__tagInput {
  width: 100%;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 5px;
}
.ReactTags__tagInput input.ReactTags__tagInputField,
.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 50px;
  border-radius: 5px;
  margin: 0;
  font-size: 16px;
  padding: 0 10px;
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
}

.ReactTags__tagInput input.ReactTags__tagInputField.light {
  border: 1px solid rgba(0, 0, 0, 0.23);
}

.ReactTags__tagInput input.ReactTags__tagInputField.dark {
  border: 1px solid rgba(255, 255, 255, 0.23);
}

.ReactTags__tagInput input.ReactTags__tagInputField.light:focus,
.ReactTags__tagInput input.ReactTags__tagInputField.dark:focus {
  border: 2px solid #689f38;
}

.ReactTags__tagInput input.ReactTags__tagInputField.light {
  color: black;
}

.ReactTags__tagInput input.ReactTags__tagInputField.dark {
  color: white;
}

/* Styles for selected tags */
.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #888d8d;
  color: white;
  font-size: 14px;
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
}

.ReactTags__selected span.ReactTags__tag:nth-child(n +1):not(:first-child) {
  margin-left: 5px;
}

.ReactTags__selected button.ReactTags__remove {
  color: #ffffff;
  margin-left: 5px;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
}

/* Styles for suggestions */
.ReactTags__suggestions {
  position: absolute;
  z-index: 200;
  color: black;
}

.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
  background: white;
  width: max-content;
  border-radius: 5px;
}
.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}
.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}
.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}

.ReactTags__remove {
  border: none;
  cursor: pointer;
  background: none;
  color: white;
}
